/* 
==========================
General styles
==========================
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: "Nanum Gothic", sans-serif;
  color: black;
}

/* 
==========================
Navigation styles
==========================
*/

/* .my-nav-bg {
  border-bottom: 2px solid #ccc;
} */

.my-nav-brand {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 150%;
  color: black;
}

/* 
==========================
Main content box styles
==========================
*/

.main-content {
  line-height: 2;
}

/* .main-content h1 {
  border-bottom: 3px solid rgb(212, 212, 212);
} */

.body-link {
  color: #6161d1;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.body-link:hover {
  background-color: #6161d1;
  color: white;
  text-decoration: none;
}

.profile-pic {
  width: 100%;
}

/* .btn:hover,
.btn-outline-dark:hover {
  background: #7f7fd5 !important;
  background: -webkit-linear-gradient(
    to left,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ) !important;
  background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5) !important;
  border-width: 3px !important;
  border: white;
} */

/* hr {
  margin-bottom: 2.5em;
  border: 0;
  border-top: 1px double #bdbdbd;
  text-align: center;
}

hr:after {
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #91eae4;
  font-size: 18px;
}

.heart:after {
  content: "\2665";
}

.smile:after {
  content: "\263B";
}

.crown:after {
  content: "\265B";
}

.music:after {
  content: "\266C";
}

.phone:after {
  content: "\260E";
}

.fisheye:after {
  content: "\25C9";
}

.star:after {
  content: "\2605";
}

.burst:after {
  content: "\2731";
}

.diamond:after {
  content: "\25C6";
} */

/* 
==========================
Footer styles
==========================
*/

/* .footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
} */
